
header {
    display: inline-block;
    width: 100%;
}
body{
    min-height: 100vh;
    box-sizing: content-box;
}
header .basket{
    float: right;
    position: relative;    
    background-image: url(/images/shoping.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    margin: 0 50px;
}
header .basket .count,
.close_form{
    display: none;
    cursor: pointer;
    position: absolute;
    border: 5px solid greenyellow;
    border-radius: 25px;
    padding: 5px;
    min-width: 15px;
    top: -15px;
    right: -15px;
    font-weight: 900;
    text-align: center;
} 
header .basket .count.active{
    display: inline-block;
}
.close_form {
    display: block;
    top: -40px;
    right: -40px;
    width: 19px;
    border: 2px solid black;
}
.close_form:hover{
    transition: 1s;
    transform: rotateY(360deg);
}

.cards{
    display: inline-block;
    position: relative;
    width: 180px;
    height: 180px;
    margin: 20px;
    perspective: 1000px;
}
.cards .card{
    position: absolute;
    backface-visibility: hidden;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: 1s;
    padding: 10px;
}
.cards .v2{
    font-size: 18px;
    transform: rotateY(180deg);
}
.cards:hover .card.v1{
    transform: rotateY(180deg);
}
.cards:hover .card.v2{
    transform: rotateY(360deg);
}
.ring, .chair, .glove{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.ring{
    background-image: url(/images/ring.png);
}
.chair{
    background-image: url(/images/chair.jpg)
}
.glove{
    background-image: url(/images/glove.png)
}
.back{
    background-color: darkgrey;}

.cards .back span{
    display: inline-block;
    margin: 10px auto;
}
.cards .back .add-product,
.buttons{
    width: 90px;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: #f3e9e9 0px 0px 10px;
    font-weight: bold;
    background-color: greenyellow;
    -khtml-user-select: none;
      -moz-user-select: none;
           user-select: none;  
}
.cards .back .add-product:active,
.buttons:active{
    box-shadow: inset #867f7f 0px 0px 10px;
}


.pop-up{
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(177, 177, 177, 0.5);
}
.pop-up.active{
    display: flex;
}
.message{
    height: 20px;
   padding: 10px;
   margin: 10px;
   border: 2px solid red;

}
.pop-up section{
    min-height: 100px;
    
    position: relative;
    background-color: white;
    margin: auto;
}
.pop-up .form{
    margin-top: 20px;
    
}
.product{
    padding: 10px;
}
.product span{
    margin: 0 10px;
}
.product input{
    width: 40px;
}
.buttons{
    width: 200px;
    margin: 20px auto;
    box-shadow: #5d5959 0px 0px 10px;
}